DATABASE_URL=postgresql+asyncpg://heartbeat_user:PASSWORD@db:5432/heartbeat
POSTGRES_DB=heartbeat
POSTGRES_USER=heartbeat_user
POSTGRES_PASSWORD=
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_DAYS=90
FIREBASE_CREDENTIALS_PATH=/app/firebase-credentials.json
GIPHY_API_KEY=
